<div class="container-interaction" id="containerInteraction">
    <div class="container-interaction-top">
        <input type="range" name="" id="timeline" value="0" min="0">
    </div>
    <div class="container-interaction-left">
        <span class="container-interaction-left-play">
            <i class="fa-solid fa-play fa-lg" id="play"></i>
        </span>
        <span class="container-interaction-left-volume">
            <i class="fa-solid fa-volume-high fa-lg" id="volume"></i>
            <input type="range" name="" id="volumeRange" value="100" />
        </span>
        <span class="container-interaction-left-time">
            <span id="currentTime"></span>
            <span class="container-interaction-left-time__slash">/</span>
            <span id="entireTime"></span>
        </span>
    </div>
    <div class="container-interaction-right">
        <span>
            <i class="fa-solid fa-expand fa-lg" id="expand"></i>
        </span>
    </div>
</div>
<script src="/dist/js/container.js"></script>