<%- include('../layouts/base') %>

    <div class="root">
        <%- include('../partials/header') %>
            <main class="renderer-watch">
                <div class="renderer-watch-container" id="container">
                    <video src="<%= file.path %>" id="video"></video>
                    <%- include('../partials/container') %>
                </div>
                <div class="renderer-watch-recommended"></div>
            </main>
    </div>