<footer class="footer">
    <div class="footer-pagination">
        <ul class="footer-pagination__ul">
            <% for (let i=0; i<paginations; i++) {%>
                <li class="footer-pagination__ul-li">
                    <a href="<%= i %>">
                        <%= i %>
                    </a>
                </li>
                <%}%>
        </ul>
    </div>
</footer>