<header class="header">
    <div class="header-logo">
        <a href="/">
            <img src="/logo/1616736295.75.jpg" alt="0xFF">
        </a>
    </div>
    <div class="header-search">
        <form action="/search" class="header-search__form">
            <input type="text" name="query">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <div class="header-navigation">
        <nav class="header-navigation-nav">
            <ul class="header-navigation__ul">
                <li class="header-navigation__ul-li">
                    <a href="/">Home</a>
                </li>
            </ul>
        </nav>
    </div>
</header>