.container-interaction {
  display: grid;
  grid-template-areas:
    "top top"
    "left right";
  align-items: center;
  position: relative;
  bottom: 45px;
  height: 45px;
  padding: 0 20px 0 20px;

  span {
    color: white;
  }

  &-top {
  }

  &-left {
    grid-area: left;
    justify-self: start;
    display: grid;
    grid-template-columns: 0.25fr 1.75fr 1fr;
    align-items: center;

    &-volume {
      align-self: center;
    }
  }

  &-right {
    grid-area: right;
    justify-self: end;
  }
}
