.container-interaction {
  display: grid;
  grid-template-areas:
    "top top"
    "left right";
  align-items: center;
  position: relative;
  bottom: 45px;
  height: 45px;
  padding: 0 20px 0 20px;

  span {
    color: white;
  }

  &-top {
    grid-area: top;

    input {
      width: 100%;
      height: 10px;

      &:hover {
        cursor: pointer;

      }
    }
  }

  &-left {
    grid-area: left;
    display: flex;
    align-items: center;
    padding-left: 10px;

    &-play,
    &-volume {
      margin-right: 20px;
    }

    &-volume {
      display: flex;
      align-items: center;

      i {
        width: 20px;
        margin-right: 10px;
      }

      input {
        width: 80px;
      }
    }
  }

  &-right {
    grid-area: right;
    justify-self: end;
    padding-right: 10px;
  }
}