<div class="container-interaction" id="containerInteraction">
    <div class="container-interaction-left">
        <span class="container-interaction-left-play">
            <i class="fa-solid fa-play" id="play"></i>
        </span>
        <span class="container-interaction-left-volume">
            <i class="fa-solid fa-volume-high" id="volume"></i>
            <input type="range" name="" id="volumeRange" value="100" />
        </span>
        <span class="container-interaction-left-time">
            <span id="currentTime"></span>
            <span>/</span>
            <span id="entireTime"></span>
        </span>
    </div>
    <div class="container-interaction-right">
        <span>
            <i class="fa-solid fa-expand" id="expand"></i>
        </span>
    </div>
</div>
<script src="/dist/js/container.js"></script>