.renderer-watch {
  padding-top: 10px;
  height: 670px;

  &-container {
    position: absolute;

    video {
      width: 970px;
      height: 530px;
      object-fit: fill;
    }

    .video-expand {
      width: 100%;
      height: 100%;
    }
  }
}