.renderer-watch {
    &-container {
        position: absolute;

        video {
            width: 900px;
        }

        .video-expand {
            width: 100%;
            height: 100%;
        }
    }
}