<%- include('../layouts/base') %>

    <div class="root">
        <div class="renderer-error">
            <div class="renderer-error-container">
                <span>
                    <%= errMsg %>
                </span>
            </div>
        </div>
    </div>