@media screen and (max-width: 1750px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-search {
    display: flex;
    width: 500px;
  }

  .header-search button {
    border: 1px solid rgba(104, 103, 103, 0.2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 64px;
    height: 40px;
  }

  .header-search__form {
    margin: 0;
    height: 40px;
    display: flex;
    width: 100%;
  }

  .header-search__form input {
    border: 1px solid rgba(104, 103, 103, 0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1px 0;
    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    font-size: 15px;
  }

  .header-logo {
    padding-left: 40px;
  }

  .header-logo img {
    width: 150px;
    border-radius: 15px;
  }

  .header-navigation {
    padding-right: 40px;
  }

  .header-navigation__ul {
    display: flex;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header-logo img {
    width: 100px;
  }

  .header-search__form {
    display: flex;
  }

  .header-navigation__ul {
    display: flex;
  }
}

@media screen and (max-width: 390px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header-logo img {
    width: 30px;
  }

  .header-search__form {
    display: flex;
  }

  .header-navigation__ul {
    display: flex;
  }
}

.header-search__form button:hover {
  cursor: pointer;
}