@media screen and (max-width: 1750px) {
  .renderer-search {
    height: 685px;
  }

  video {
    width: 435px;
    height: 340px;
  }
}

@media screen and (max-width: 1440px) {
  video {
    width: 350px;
    height: 340px;
  }
}

@media screen and (max-width: 390px) {
  .renderer-search {
    grid-template-columns: repeat(2, 1fr);
  }

  video {
    width: 180px;
  }
}

.renderer-search {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.renderer-search-container {
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
}

.renderer-pagination__ul {
  display: flex;
  justify-content: center;
}


.renderer-pagination__ul-li:not(:first-child) {
  padding-left: 10px;
}